Source: solvespace
Section: graphics
Priority: optional
Maintainer: Joseph Lenox <lenox.joseph@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Homepage: http://solvespace.com/index.pl
#Vcs-Git: git://anonscm.debian.org/collab-maint/solvespace.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/solvespace.git;a=summary

Package: solvespace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A parametric modeler with a GUI.
 Parametric modeler
